<h1>Category</h1>

<table>
  <thead>
    <th>Category</th>
 
  </thead>
  <tbody>
    <% @categories .each do |c|   %>
    <tr>
      <td><%= c.name %></td>

    </tr>
    <% end %>
  </tbody>
</table><br>
<%= link_to "Add New Category", new_category_path, :class => "link" %>
